#calHolder {
	margin-top: 25px;
	width: 100%;
}

.sanityTemp {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.times {
	width: 10%;
	float:left;
}

.dayGrid {
	width: 90%;
	float:left;
}

.dayCol {
	float: left;
	position: relative;
}

.gridSlot {
	height: 4px;
	font-size: 13px;
}

.gridSlotRight {
	border-style: solid;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-color: black;
	cursor: pointer;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.gridSlota {
	background-color: #DDDDDD ;
}

.gridSlotb {
	background-color: #BBBBBB;
}

.hovering {
	background-color:green;
	color: white;
}

.hovering2 {
	background-color:#33CC33;
	color: white;
}

.closed {
	background-color: #3366FF;
	color: white;
}

.inThePast {
	background-color: blue;
	color: white;
}

.booked {
	background-color: cyan;
}

.gridHourBreak {
	border-top: 1px;
}

#highlighter {
	background-color: orange;
	display:none;
	position: absolute;
}

#debugStatus {
	display: none;
}

#gridUi {
	background-color: lightgrey;
	margin-top: 5px;
	top: 0px;
	// position: fixed;
	width: 100%;
}

#confirmButton {
}

#statusLine {

}

#confirmWindow {
	height: 90px;
}

#previewWindow {
	height: 20px;
}

.simpleFloater {
	width: 150px;
	display: none;
	position: absolute;
	background-color: grey;
	border-style: solid;
	color: black;
	font-size: 13px;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.booking {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
}
